# Pandas -  Group By

Groupby is a pretty simple concept. You create a grouping of categories and apply a function to the categories. It's a simple concept but it's an extremely valuable technique that's widely used in data science. The value of groupby really comes from it's ability to aggregate data efficiently, both in performance and the amount code it takes.

In [1]:
import pandas as pd
import numpy as np
 
#Create a DataFrame
d = {
    'Name':['Aman','Bobby','Kanak','Aman','Bobby','Kanak',
            'Aman','Bobby','Kanak','Aman','Bobby','Kanak'],
    'Exam':['Semester 1','Semester 1','Semester 1','Semester 1','Semester 1','Semester 1',
            'Semester 2','Semester 2','Semester 2','Semester 2','Semester 2','Semester 2'],
     
    'Subject':['Mathematics','Mathematics','Mathematics','Science','Science','Science',
               'Mathematics','Mathematics','Mathematics','Science','Science','Science'],
   'Score':[62,47,55,74,31,77,85,63,42,67,89,81]}
df = pd.DataFrame(d,columns=['Name','Exam','Subject','Score'])

df

     Name        Exam      Subject  Score
0    Aman  Semester 1  Mathematics     62
1   Bobby  Semester 1  Mathematics     47
2   Kanak  Semester 1  Mathematics     55
3    Aman  Semester 1      Science     74
4   Bobby  Semester 1      Science     31
5   Kanak  Semester 1      Science     77
6    Aman  Semester 2  Mathematics     85
7   Bobby  Semester 2  Mathematics     63
8   Kanak  Semester 2  Mathematics     42
9    Aman  Semester 2      Science     67
10  Bobby  Semester 2      Science     89
11  Kanak  Semester 2      Science     81

Get mean score of a group using groupby function in python:

In [2]:
# mean score of Students
 
df['Score'].groupby([df['Name']]).mean()

Name
Aman     72.00
Bobby    57.50
Kanak    63.75
Name: Score, dtype: float64

Get sum of score of a group using groupby function in python:

In [3]:
# sum of score group by Name and Exam
 
df['Score'].groupby([df['Name'],df['Exam']]).sum()

Name   Exam
Aman   Semester 1    136
       Semester 2    152
Bobby  Semester 1     78
       Semester 2    152
Kanak  Semester 1    132
       Semester 2    123
Name: Score, dtype: int64

Group the entire dataframe by Subject and Exam:

In [4]:
df.groupby(['Subject', 'Exam']).sum()

                        Score
Subject     Exam
Mathematics Semester 1    164
            Semester 2    190
Science     Semester 1    182
            Semester 2    237

In [5]:
# descriptive statistics by group - subject
 
df['Score'].groupby(df['Subject']).describe()

             count       mean        std   min    25%   50%    75%   max
Subject
Mathematics    6.0  59.000000  15.165751  42.0  49.00  58.5  62.75  85.0
Science        6.0  69.833333  20.380546  31.0  68.75  75.5  80.00  89.0